[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pyyaml = "*"
aiofiles = "*"
aiohttp = "*"
beautifulsoup4 = "*"
nltk = "*"
camel-tools = "*"
aiostream = "*"
fastapi = "*"
uvicorn = "*"
fastapi-users = {extras = ["beanie"], version = "*"}
pydantic = {version = "~=1.10.2", extras = ["dotenv"]}
fastjsonschema = "*"
loguru = "*"
asgiref = "*"
asyncer = "*"
celery = {extras = ["gevent"], version = "*"}

[dev-packages]
autopep8 = "*"
ipykernel = "*"
jsf = "*"
watchdog = "*"

[requires]
python_version = "3.8"
