[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pyyaml = "*"
aiofiles = "*"
aiohttp = "*"
beautifulsoup4 = "*"
nltk = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
