[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pyyaml = "*"
aiofiles = "*"
aiohttp = "*"
beautifulsoup4 = "*"
nltk = "*"
camel-tools = "*"
aiostream = "*"
fastapi = "*"
uvicorn = "*"
fastapi-users = {extras = ["beanie"], version = "*"}

[dev-packages]
autopep8 = "*"
ipykernel = "*"
jsf = "*"

[requires]
python_version = "3.8"
